body {
  background-color: #fff7f0;
  box-sizing: border-box;
}

/* *********** HEADER ************* */

.top-header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 0.5em;
}
.consultation-btn {
  background-color: black;
  border: none;
  color: white;
  border-radius: 30px;
  min-width: 10em;
  outline: inherit;
  font-family: "Plus Jakarta Sans";
  font-weight: bold;
  margin: 0.4em;
  cursor: pointer;
}

.consultation-btn:hover {
  background-color: #755cde;
}

.header-title {
  font-weight: bold;
  font-size: 38px;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: auto;
  width: 50%;
  text-align: center;
}

.header-p {
  color: #7a746e;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  margin: auto;
  line-height: 1.5em;
  margin-top: 1em;
  width: 50%;
  padding-top: 1em;
  text-align: center;
}

/* CONTENT : IMAGES FLEXBOX GRID*/

.menu__items {
  display: flex;
  width: 100%;
  border: 2px solid hotpink;
}
.flex-items {
  width: 33.33%;
}
.flex-top {
  display: flex;
}

.flex-right {
  width: 33.33%;
}
.menu {
  width: 80%;
  max-width: 1110px;
  margin: 1em auto;
}

.graphic-design {
  padding: 0 0 10em 0;
  width: 33.33%;
  min-width: 354px;
  background-color: #755cde;
  border-radius: 10px;
  margin: 0.5em;
}

.ui-ux {
  background-color: #f6a560;
  width: 50%;
  max-width: 164px;
  padding: 0 0 5em 0;
  position: relative;
  border-radius: 10px;
  margin: 0.5em;
}

.apps {
  background-color: #f39e9e;
  width: 50%;
  max-width: 165px;
  min-width: 100px;
  border-radius: 10px;
  margin: 0.5em;
}

.illustrations,
.photography {
  padding: 0 0 6em 0;
  border-radius: 10px;
  margin: 0.5em;
}

.illustrations {
  background-color: #eb7565;
}

.photography {
  background-color: #61c4b7;
  padding: 0 0 5em 0;
  border-radius: 10px;
  margin: 0.5em;
}

.motion-graphics {
  background-color: #552049;
  padding: 0 0 5em 0;
  border-radius: 10px;
  margin: 0.5em;
}

.gd-btn {
  width: 6em;
  left: 15em;
  top: 1em;
  position: relative;
}

.gd-title,
.apps-title,
.ui-ux-title,
.illustrations-title,
.photography-title,
.motion-graphics-title {
  color: white;
  font-family: "Plus Jakarta Sans";
  font-weight: bold;
  font-size: 1.5rem;
}

.gd-title {
  position: relative;
  top: 5.5em;
  right: 3em;
}

.apps-title,
.ui-ux-title {
  position: relative;
  top: 2.5em;
  right: 2em;
}

.illustrations-title {
  position: relative;
  top: 2em;
  right: 4em;
}

.photography-title {
  position: relative;
  top: 2em;
  right: 6em;
}

.motion-graphics-title {
  position: relative;
  top: 2em;
  right: 5em;
}

.apps-btn,
.ui-btn {
  position: relative;
  top: 1em;
  left: 5em;
}
.illustrations-btn {
  position: relative;
  top: 1em;
  left: 12em;
}

.photography-btn {
  position: relative;
  top: 1em;
  left: 10em;
}
.motion-graphics-btn {
  position: relative;
  top: 1em;
  left: 12em;
}

.footer {
  background-color: black;
  padding: 5em;
  margin: 0 auto;
  width: 4em;
  margin-top: 2em;
  align-items: center;
}
